{% extends "base.html" %}

{% load apptags %}

{% load static from staticfiles %}

{% block title %}Cálculo Indicador{% endblock %}

{% block extraCSS %}
    <link href="{% static "css/indicator.css" %}" rel="stylesheet"  />
    <link href="{% static "css/bootstrap-select.min.css" %}" rel="stylesheet"  />

{% endblock %}

{% block content %}
        <div class="content-page-2">
        <b id="title-content-page">Cálculo del indicador</b>
        <hr class="pull-left" id="separator-content-page">
        <div id="main-panel" class="panel panel-default">
           <div class="panel-heading" >
                {% include "indicators_menu.html" %}
            </div>
            <div class="panel-body">



              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#parametros">
                        Parámetros iniciales
                      </a>
                    </h4>
                  </div>
                  <div id="parametros" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <form action="" method="post" class="form-css">
                        <label>
                            <span>Representatividad   </span><br><br>
                            <select id="represent" class="selectpicker show-menu-arrow" data-width="100%">
                              <option value="1">Nacional</option>
                              <option value="2">Urbano</option>
                              <option value="3">Rural</option>
                            </select>
                        </label>

                        <label>
                            <span>Metodología </span><br><br>
                              <select id="method" class="selectpicker show-menu-arrow"  data-width="100%">
                                <option value="1">2003-4 hasta 2007-1 </option>
                                <option value="2">2007-2 hasta la actualidad</option>
                              </select>
                        </label>

                        <label>
                          <span>Período Inicial </span><br><br>
                          <span>Año: </span>
                          <select id="yearStart" class="selectpicker show-menu-arrow pull-left" data-size="5"  data-width="30%" >
                            <option value="2003">2003</option>
                            <option value="2004">2004</option>
                            <option value="2005">2005</option>
                            <option value="2006">2006</option>
                            <option value="2007">2007</option>
                          </select>
                          <span>Trimestre: </span>
                          <select id="trimStart" class="selectpicker show-menu-arrow" data-width="30%">
                            <option value="4">4</option>
                          </select>
                        </label>

                        <label>
                          <span>Período Final </span><br><br>
                          <span>Año: </span>
                          <select id="yearEnd" class="selectpicker show-menu-arrow pull-left" data-size="5" data-width="30%" >
                            <option value="2003">2003</option>
                            <option value="2004">2004</option>
                            <option value="2005">2005</option>
                            <option value="2006">2006</option>
                            <option value="2007" selected="selected">2007</option>
                          </select>
                          <span>Trimestre: </span>
                          <select id="trimEnd" class="selectpicker show-menu-arrow"  data-width="30%">
                            <option value="1">1</option>
                          </select>
                        </label>

                         <label class="text-center">
                            <span>&nbsp;</span>
                            <button type="button" class="btn btn-next" data-toggle="collapse" data-target="#desagregaciones">
                              Siguiente
                            </button>
                        </label>
                      </form>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#desagregaciones">
                        Desagregaciones
                      </a>
                    </h4>
                  </div>
                  <div id="desagregaciones" class="panel-collapse collapse">
                    <div class="panel-body">
                      <form action="">
                        <div class="buttons">
                            <button type="button" class="btn btn-back" data-toggle="collapse" data-target="#parametros">
                              Atrás
                            </button>
                            <button type="button" class="btn btn-calc" data-toggle="collapse" data-target="#resultado">
                              Calcular
                            </button>
                          </div>
                        </div>
                      </form>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#resultado">
                        Resultados
                      </a>
                    </h4>
                  </div>
                  <div id="resultado" class="panel-collapse collapse">
                    <div class="panel-body">

                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
{% endblock %}

{% block extraScripts %}
    <script src="{% static "js/bootstrap-select.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/indicator.js" %}" type="text/javascript"></script>
    <script src="{% static "js/chb.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
        var MEDIA_URL = {{MEDIA_URL}};

        $('.selectpicker').selectpicker();
    </script>
{% endblock %}

