{% extends "base.html" %}

{% load apptags %}

{% load static from staticfiles %}

{% block title %}Generar cache{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block content %}
        <div class="content-page-2">
            <b id="title-content-page">Caché</b>
            <hr id="separator-content-page" class="pull-left">
            <div id="formulario" class="panel-body">
                <div class="text-center">
                        <b id ="msg_cache" hidden>La generación de cache está en proceso. Espere por favor ....</b>
                        <div id="spin_cache" hidden>
                            <i class="fa fa-spinner fa-spin fa-5x"></i>
                        </div><!-- #msg_cache -->
                    <button id="generar_cache" class="btn  btn-primary" type="button">
                        Generar caché
                    </button>
                </div><!-- .text-center -->
            </div><!-- #formulario.panel-body -->
        </div><!-- .content-page-2 -->
{% endblock %}

{% block extraScripts %}
<script type="text/javascript" src="{% static "js/cache.js" %}" ></script>
{% endblock %}