{% extends "base.html" %}

{% load apptags %}

{% load static from staticfiles %}

{% block title %}Lista Indicadores{% endblock %}

{% block extraCSS %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link href="{% static "css/jquery.multilevelpushmenu.css" %}" rel="stylesheet"  />
    <link href="{% static "css/basichtml.css" %}" rel="stylesheet"  />
{% endblock %}

{% block content %}
    {% include 'indicators_menu.html' %}
    <div id="pushobj">
        <div class="panel">
            <div class="panel-heading" >
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-globe"></i> Migración</a></li>
                    <li><a href="#"><i class="fa fa-plane"></i> Migración internacional</a></li>
                    <li><i class="fa fa-users"></i> Tasa de migrantes de otros países</li>
                </ol>
            </div>
            <div class="panel-body">
                <p class="text-justify">
                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </p>
                <br><br>
                <div class="text-center"><img class="text-center" src="{{ MEDIA_URL }}formulas/tc.png" alt="formula"></div>
            </div>
            <div class="panel-footer pull-right"><b>Unidad:</b> Porcentaje</div>
        </div>

    </div>

{% endblock %}

{% block extraScripts %}
    <script src="http://oss.maxcdn.com/libs/modernizr/2.6.2/modernizr.min.js" type="text/javascript"></script>
    <script src="{% static "js/jquery.multilevelpushmenu.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/basichtml.js" %}" type="text/javascript"></script>

{% endblock %}