{% extends "base.html" %}

{% load apptags %}

{% load static from staticfiles %}

{% block title %}Upload file csv{% endblock %}

{% block extraCSS %}
    	<link href="{% static "css/uploadcsv.css" %}" rel="stylesheet"  />
{% endblock %}

{% block content %}
    		<div class="content-page-2">
        		<b id="title-content-page">Acceso Denegado</b>
        		<hr id="separator-content-page" class="pull-left">
      			<div class="panel-body">
            			<div class="center">
                			<div class="col-lg-4"></div><!-- .col-lg-4 -->
                			<div class="col-lg-4">
                    			<br/><br/><br/>
                    			<span>USTED NO TIENE PERMISO DE ADMINISTRADOR</span>
                    			<br/><br/><br/>
                			</div><!-- .col-lg-4 -->
                			<div class="col-lg-4"></div><!-- .col-lg-4 -->
            			</div><!-- .center -->
        		</div><!-- .panel-body -->
    		</div><!-- .content-page-2 -->
{% endblock %}

{% block extraScripts %}

{% endblock %}