{% extends "index.html" %}

{% load static from staticfiles %}

{% block title %}Acerca De{% endblock %}

{% block content %}
    <div class="content-page-2" id="home-page">
    	<br/><br/>
        <b id="title-content-page">Acerca de</b>
        <hr id="separator-content-page" class="pull-left">
        <div class="panel-body">
            <br>
            <div class="center">
	            <div class="text-profile">
	                <i class="fa fa-user"></i><strong> MSc. Gonzalo Villa Cox</strong><br>
	                <i>Diseñador de la base de datos, desarrollador del modelo econométrico</i><br>
	                <i><i class="fa fa-envelope-o"></i> gonzalo.villa@barcelonagse.eu</i><br><br>
	                    Experto en Econometría, Economía de Recursos Naturales, Modelos de Sistemas Complejos, Evaluación de Política Pública y Desarrollo de Sistemas. Es Máster en Economía y Finanzas de la Universitat Pompeu Fabra (España) y ha formado parte de importantes estudios económicos y de desarrollo sustentable. Actualmente desempeña funciones como catedrático e investigador en la Facultad de Ciencias Sociales y Humanísticas de la ESPOL.
	                <hr><br>
	            </div><!-- .text-profile -->
	            <div class="text-profile">
	                <i class="fa fa-user"></i><strong> Econ. Ramón Villa Cox</strong><br>
	                <i>Diseñador de la base de datos, desarrollador del modelo econométrico y de la metodología de homogenidad</i><br>
	                <i><i class="fa fa-envelope-o"></i> ramon.villa.cox@gmail.com</i><br><br>
	                    Economista con mención en Gestión Empresarial, especialización Teoría y Política Económica. Tiene experiencia en temas econométricos, socioeconómicos y ambientales, con interés en el estudio del comportamiento emergente de sistemas sociales adaptativos complejos.
	                <hr><br>
	            </div><!-- .text-profile -->
	            <div class="text-profile">
	                <i class="fa fa-user"></i><strong> Econ. María Fernanda Loor</strong><br>
	                <i>Diseñadora de la base de datos y desarrolladora de la metodología de homogenidad</i><br>
	                <i><i class="fa fa-envelope-o"></i> marfeloo@espol.edu.ec</i><br><br>
	                    Economista con experiencia en manejo y minería de bases de datos. Ha formado parte de estudios en el área macro y socioeconómica, con especial interés en temas de índole de género, educación y pobreza.
	                <hr><br>
	            </div><!-- .text-profile -->
            </div>
        </div><!-- .panel-body -->
    </div><!-- .content-page-2 -->
{% endblock %}

{% block extraScripts %}
{% endblock %}