{% load static from staticfiles %}
<!DOCTYPE html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OSEE - {% block title %}{% endblock %}</title>

    <!-- Core CSS - Include with every page -->
    <link href="{% static "css/style.css" %}" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet" />

    <!-- Page Specific CSS -->
    {% block extraCSS %}{% endblock %}

</head>

<body>
    <div class="container">
        <header role="banner">
            <div class="navbar navbar-inverse" id="nav-logo" role="navigation">
                <div class="navbar-header">
                    <img src="{{STATIC_URL}}img/ciec.png" class="pull-left img-nav-header" alt="ciec">
                    <a href="/historia" class="navbar-brand">Observatorio Social - Económico del Ecuador</a>
                    <i>"servir como base para investigaciones socioeconómicas"</i>
                </div>
                <ul class="pull-right" id="user_data-menu">
                    <li>
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle" id="name-user">
                            <i class="fa fa-user"> Bienvenido, </i><br>
                            <span><strong>Jefferson Rubio</strong></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="pull-right dropdown-menu" id="option-user">
                            <li><a href="#"><i class="fa fa-cog">  Mi cuenta</i></a></li>
                            <li><a href="#"><i class="fa fa-power-off">  Cerrar Sesión</i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <div class="core">
            <div class="navbar navbar-default" id="nav-menu" role="navigation">
                <ul class="nav navbar-nav pull-right" id="tabs-menu">
                    <li><a href="/lista-indicadores/">LISTA DE INDICADORES</a></li>
                    <li><a href="/calculo-indicador/">CÁLCULO DEL INDICADOR</a></li>
                    <li><a href="#">COMERCIO EXTERIOR</a></li>
                    <li><a href="/recursos/boletines">RECURSOS</a></li>
                </ul>
            </div>
        {% block content %}{% endblock %}
        </div>
        <footer>
            <div class="core text-center">
                <a target="_blank" href="http://www.ciec.espol.edu.ec/"> Website de Ciec </a>|
                <a href=""> Contáctenos </a>|
                <a href=""> Mapa del Sitio </a>|
                <a href=""> Sugerencias </a>|
                <a href=""> Acerca de </a>
            </div>
            <div class="core text-center">
                <p>Escuela Superior Politécnica del Litoral - Guayaquil - Ecuador Campus Gustavo Galindo</p>
            </div>
        </footer>
    </div>
    </header>

        <!-- Core Scripts - Include with every page -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="{% static "js/chb.js" %}" type="text/javascript"></script>
        <script>
            $(function(){
                setNavigation();
            });

            function setNavigation() {
                var path = window.location.pathname;
                path = path.replace(/\?$/, "");
                path = decodeURIComponent(path);

                $("#tabs-menu a").each(function () {
                    var href = $(this).attr('href');
                    if(path.substring(0,href.length) === href){
                        $(this).closest('li').addClass('active');
                    }
                });
            }
        </script>
        <!-- Page Specific Scripts -->
        {% block extraScripts %}{% endblock %}
</body>

</html>