{% extends "index.html" %}

{% load static from staticfiles %}

{% block title %}Mapa del Sitio{% endblock %}

{% block content %}
        <div class="content-page-2" id="home-page">
            <br/><br />
            <b id="title-content-page">Contactos</b>
            <hr id="separator-content-page" class="pull-left">
            <div id="map-canvas" class="google-map-canvas">-</div><!-- #map-canvas.google-map-canvas -->
        </div><!-- .content-page-2 -->
{% endblock %}
{% block extraScripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript">
    //Google Maps script
        function initialize() {
            var myLatlng = new google.maps.LatLng(-2.1477, -79.96606);
            var mapOptions = {
                zoom: 18,
                center: myLatlng
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
            var contentString =
                '<div id="content">'+
                '<div id="siteNotice"></div><!-- #siteNotice -->'+
                '<h2 id="firstHeading" class="firstHeading">Oficinas Principales</h2>'+
                '<div id="bodyContent">'+
                            '<p>Centro de Investigaciones Econ&oacute;micas - Facultad de Ciencias Sociales y Human&iacute;sticas</p>' +
                            '<p>(+593)-42-269096&nbsp;&nbsp;&nbsp;&nbsp;(+593)-42-269097<p>'+
                            '<p>Guayaquil - Ecuador<p>'+
                '</div><!-- #bodyContent -->'+
                '</div><!-- #content -->';
                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: 'CIEC'
                });
                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.open(map,marker);
                });
                infowindow.open(map,marker);
        }
        google.maps.event.addDomListener(window, "load", initialize);
    </script>
{% endblock %}
