{% load static from staticfiles %}
<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css">
    <link rel="stylesheet" href="{% static "css/designIndex.css" %}" />
    <!-- Page Specific CSS -->
    {% block extraCSS %}{% endblock %}
</head>
<body>
    <header>
        <div class="container">
            <div>
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="navbar-header pull-left" id="menu">
                        <a href='/'><img id="myimage" src="{{ STATIC_URL }}img/ciec.png" alt="My image" /></a>
                    </div>
                    <ul class="nav navbar-nav pull-left" id="top-nav">
                        <li class="active"><a href="/" class="navbar-brand">Inicio</a></li>
                        <li><a href="/team" class="navbar-brand">Equipo de Trabajo</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown">Información del Proyecto<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/features">Características</a></li>
                                <li><a href="/historia">Reseña</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav pull-right navbar-nav" id="login">
                        <!--li><a href="/registro"><i class="fa fa-user"></i>Regístrate</a></li-->
                        <li><a href="/register"><i class="fa fa-user"></i>Regístrate</a></li>
                        <li><a href="/login"><i class="fa fa-user"></i>Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="contour-main">
        {% block content %}{% endblock %}
            <footer>
                <div class="contour-footer text-center">
                    <a href=""> Website de Ciec </a>|
                    <a href=""> Contáctenos </a>|
                    <a href="/map"> Mapa del Sitio </a>|
                    <a href=""> Sugerencias </a>|
                    <a href=""> Acerca de </a>
                </div>
                <div class="box-footer text-center">
                    <p>Escuela Superior Politécnica del Litoral - Guayaquil - Ecuador Campus Gustavo Galindo</p>
                </div>
            </footer>
        <div>
    </div>


    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $().ready(function(){
            $("#myslide").carousel({
                interval: 5000,
                pause: "hover",
            });
            setTimeout(function(){
                $("#myslide").carousel("next");
            }, 2000);
        });
    </script>
</body>
</html>