{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}Timeline{% endblock %}

{% block extraCSS %}
<link href="{% static "css/timeline.css" %}" rel="stylesheet"  />
{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-2"></div>
	    <div class="col-lg-8">
	        <div class="container">
				<ul class="timeline">
				<h1 id="timeline">Reseña</h1>
					{% for ev in events %}
					<li class="{% if forloop.counter|divisibleby:2 %} timeline-inverted {% endif %}">
	                    <div class="timeline-badge {{ev.icon_color}}"><i class="fa {{ev.icon}}"></i></div>
	                    <div class="timeline-panel">
	                        <div class="timeline-heading">
	                            <h4 class="timeline-title">{{ev.title}}</h4><hr>
	                        </div>
	                        <!-- /.timeline-heading -->
	                        <div class="timeline-body text-justify">
	                            <p>{{ev.event}}</p>
	                        </div>
	                        <!-- /.timeline-body -->
	                    </div>
	                    <!-- /.timeline-panel -->
	                </li>
					{% endfor %}
				</ul>
	        </div>
	    </div>
	</div>
{% endblock %}