{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}Historia{% endblock %}

{% block extraCSS %}
<link href="{% static "css/timeline.css" %}" rel="stylesheet"  />
{% endblock %}

{% block content %}

            <div class="container content-page">
                <b id="title-content-page">Historia</b>
                <hr class="pull-left" id="separator-content-page">
                <ul class="timeline">
                        {% for ev in events %}
                        <li class="{% if forloop.counter|divisibleby:2 %} timeline-inverted {% endif %}">
                            <div class="timeline-badge {{ev.icon_color}}"><i class="fa {{ev.icon}}"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">{{ev.title}}</h4><hr>
                                </div>
                                <div class="timeline-body text-justify">
                                    <p>{{ev.event}}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

{% endblock %}