{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <!-- Page metadata -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Page title -->
    <title>Observatorio Social Ecónomico del Ecuador</title>
    <!-- CSS links -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
</head>
<body>

    <header role="banner"><!-- Page header start -->
        <div class="navbar navbar-default navbar-fixed-top" id="menu" role="navigation">
            <div class="contain">
                <div class="navbar-header pull-left">
                    <i class="fa pull-left"></i>
                    <a href="#" class="navbar-brand">Observatorio <br> Social - Económico del Ecuador</a>
                </div>

                <ul class="nav navbar-nav" id="tabs-menu">
                    <li><a href="#">Lista de Indicadores</a></li>
                    <li><a href="#">Cálculo del indicador</a></li>
                    <li><a href="#">Comercio Exterior</a></li>
                    <li><a href="#">Enlaces externos</a></li>
                    <li><a href="#">Equipo de trabajo</a></li>
                    <li><a href="#">Contactos</a></li>
                </ul>

                <ul class="nav navbar-nav pull-right" id="user_data-menu">
                    <li>
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle" id="name-user">
                            <i class="fa fa-user"> Bienvenido, </i><br>
                            <span><strong>Jefferson Rubio</strong></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" id="option-user">
                            <li><a href="#"><i class="fa fa-cog">  Mi cuenta</i></a></li>
                            <li><a href="#"><i class="fa fa-power-off">  Cerrar Sesión</i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header><!-- Page header end -->

    <div class="row"><!-- Timeline start -->
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="contain">
                <div class="page-header">
                    <h1 id="timeline">Introducción</h1>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge danger"><i class="fa fa-archive"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Antecedente</h4><hr>
                            </div>
                            <div class="timeline-body text-justify">
                                <p>A partir del año 2006, en Ecuador se han iniciado varios cambios estructurales principalmente en materia de política social y económica, para definitivamente en el 2008 implementar como modelo económico el “Modelo Social Solidario” . Se han emprendido así diversos proyectos y reformas destinadas a mejorar el sector de la salud, educación, vivienda y del empleo.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge success"><i class="fa fa-home"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Inicio</h4><hr>
                            </div>
                            <div class="timeline-body text-justify">
                                <p>En base a esto la Facultad de Economía y Negocios, a través del Centro de Desarrollo Social Aplicado, CEDESA, decide construir el “Observatorio Social Económico”, como herramienta de consulta y desarrollo de investigación que brinda a la comunidad en general una serie de indicadores y estadísticas que permitan caracterizar la situación de los ecuatorianos principalmente en lo referente a educación y acceso al mercado laboral. Adicionalmente se calcularan otros indicadores relacionados a pobreza y distribución del ingreso.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge primary"><i class="fa fa-list-alt"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Desglose de indicadores</h4><hr>
                            </div>
                            <div class="timeline-body text-justify">
                                <p>Cada uno de los indicadores basados en las variables anteriormente mencionadas, será desglosado a su vez por género y edad y dependiendo de la muestra, por etnia (o algunos criterios adicionales). La fuente de datos principal es la Encuesta Nacional de Empleo y Desempleo, ENEMDU, realizada a nivel nacional, que incorpora tanto al sector urbano como el rural.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge warning"><i class="fa fa-gavel fa-flip-horizontal"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Contrucción de indicadores</h4><hr>
                            </div>
                            <div class="timeline-body text-justify">
                                <p>Dado que la Encuesta Urbana Nacional de Empleo y Desempleo, ha sufrido varios cambios metodológicos se decidió con el equipo de investigadores realizar la construcción de indicadores tomando el 2003 como año de inicio, pues a partir de el, se realizan las encuestas con un periodo trimestral. Es así que esta plataforma tiene como objetivo detallar el concepto de los principales indicadores que se presentarán en el Observatorio Económico Social, los cuales están basados en la metodología establecida por el INEC.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge info"><i class="fa fa-pencil-square-o"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Aporte</h4><hr>
                            </div>
                            <div class="timeline-body text-justify">
                                <p>El aporte del presente Observatorio a lo ya calculado por el INEC y otros organismos como Sistema Integrado de Indicadores Sociales del Ecuador SIISE, está en el cálculo de estadísticas que permitan hacer comparaciones entre diferentes periodos para realizar análisis que sean estadísticamente significativos.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div><!-- Timeline end -->

    <!-- JS links -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>