{% extends "index.html" %}

{% load static from staticfiles %}

{% block title %}Características{% endblock %}

{% block content %}
            <div class="content-page-2" >
                	<b id="title-content-page">Características</b>
               	<hr id="separator-content-page" class="pull-left">
                	<dl class="faq">
                  	{% for detail in description %}
                    	<dt>{{detail|truncatewords:1}}</dt>
                    	<dd>{{detail}}</dd>
                  	{% endfor %}
                	</dl>
              	<div class="separador"></div><!-- .separador -->
          	</div><!-- .content-page-2 -->
{% endblock %}

{% block extraScripts %}
{% endblock %}