{% extends "index.html" %}

{% load static from staticfiles %}

{% block title %}Características{% endblock %}

{% block content %}
            <div class="content-page-2" >
                <b id="title-content-page">Características</b>
                <hr class="pull-left" id="separator-content-page">
                <dl class="faq">
                    {% for detail in description %}
                    <dt>{{detail|truncatewords:1}}</dt>
                    <dd>{{detail}}</dd>
                    {% endfor %}
                </dl>
                <div class="separador"></div>
            </div>
{% endblock %}
{% block extraScripts %}

{% endblock %}