.tab-content{
	margin-top: 1em;
}

#myTabs_1 > li > a, #myTabs_2 > li > a{
	color: #777;
}

#myTabs_1 > li.active > a, #myTabs_2 > li.active > a{
	color: #001C43;
	font-weight: bold;
	outline-style: none;
}

#menu_adicional{
	float: left;
	margin: 30px 10px 0px 100px;
	text-align: center;
}

#new_form{
	margin-left: 100px;
}

#aviso_comercio{
	color: red;
	margin-top: 15px;
	text-align: center;
}

#aviso_comercio  span{
	color: black;
}

#graph{
	margin-top: 3em;
}

label{
	display: block;
	margin: 5px 0px 5px;
}

#btn_search{
	width:100px;
	margin: -20px -50px;
	position:relative;
	top:50%;
	left:50%;
}

#loading{
	margin-top: 8em;
}

#tables{
	margin-top: 10em;
}

#div_graph_comercio{
	width: 75%;
	margin: 0 auto;
}

.ui-datepicker-calendar {
	display: none;
}

#export-import{
	margin-top: 50px;
}

#btn_update{
	margin-left: 9em;
}