.tab-content{
    margin-top: 1em;
}

#nomenclatura{
    margin-top: 15px;
}

#myTabs_1 > li > a, #myTabs_2 > li > a{
    color: #777;
}

#myTabs_1 > li.active > a, #myTabs_2 > li.active > a{
    color: #001C43;
    font-weight: bold;
    outline-style: none;
}

#ul_graph_comercio > li > a{
    color: #777;
}

#ul_graph_comercio > li.active > a{
    color: #001C43;
    font-weight: bold;
    outline-style: none;
}

#menu_adicional{
    float: left;
    margin: 30px 10px 0px 100px;
    text-align: center;
}

#new_form{
    margin-left: 100px;
}

#aviso_comercio{
    color: red;
    text-align: center;
}

#aviso_comercio  span{
    color: black;
}

#graph{
    margin-top: 3em;
}

#graph ul{
    margin-top: 1em;
}

label{
    display: block;
    margin: 5px 0px 5px;
}

#btn_search{
    width:100px;
    margin: -20px -50px;
    position:relative;
    top:50%;
    left:50%;
}

#loading{
    color: black;
    margin: 5em;
}

#div_graph_comercio{
    position: relative;
    height: 460px;
    max-height: 460px;
    overflow: hidden;
}

.ui-datepicker-calendar {
    display: none;
}

#export-import{
    margin-top: 50px;
}

#btn_update{
    margin-left: 9em;
}