.titulo{
  font-family: "Verdana";
  font-size: 18px;
}

.titulo-secundario{
  font-family: "Verdana";
  font-size: 16px;
}
#map-canvas{
  width: 100%;
  height: 90px;
  padding:299px;/*420px*/
}
.imagen-logo{
  width:75px; 
  height:75px;
}
.arrow{
  margin-top: 2.5em;
}
.form_login{
  margin-bottom: ;
}
#user_remember_me{
  float: left;
  margin-right: 10px;
}
.btn_login{
  clear: left;
  width: 100%;
  height: 32px;
  font-size: 13px;
}
.form_registro{
  margin-bottom: ;
}
p{
  margin-left: 17em;
}
label{
  display: block;
  margin: 0px 0px 5px;
}
input{
  border: 1px solid #DADADA;
  /*color: #888;*/
  height: 24px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  width: 26%;
  font: normal 12px/12px Georgia, "Times New Roman", Times, serif;
}
#btn_submit{
  /*background: #E48F8F;*/
  border: none;
  padding: 10px 25px 10px 25px;
  /*color: #FFF;*/
}
#link_index{
  padding-right: 10em;
  padding-top: 1em;
}
#titulo_gracias{
  text-align: center;
}
#regis{
  margin-top: -3em;
  margin-left: 25em;
}
.social_media{
  width: 25px;
  height: 25px;
}
#div_about{
  width: 623px;
  height: 257px;
  margin-left: 16em;
  margin-top: -18em;
}

#pic_profile{
  position: relative;
  width:200px;
  height:250px;
  top:12em;
}
#div_profiles{
  margin-left: 5em;
  margin-top: -14em;
}

/*Responsive*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1920px), screen and (max-height: 1080px){
    body{
      padding-top: 60px;
      padding-bottom: 50px;
    }
    #menu{
      margin-right: 2em;
      margin-left: 47em;
    }
    #top-nav{
      margin-top: 0.5em;
    }
    #login{
      margin-top: -0.4em;
      margin-right: 20em;
    }
    #myimage{
      margin-left: 4em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      width:50px; 
      height:50px;
    }
    #titulo-footer{
      margin-top: 7em;
      margin-left: 22em;
      margin-bottom: 14em;
    }
    #footer-responsive{
      margin-top: 6em;
    }
    #myslide{
      margin-top: 7em;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px), screen and (max-height: 1080px) {
    body{
      padding-top: 130px;
      padding-bottom: 50px;
    }
    #top-nav{
      margin-left: -12em;
    }
    #login{
      margin-right: 30em;
    }
    #myimage{
      margin-left: -16em;
      width:50px; 
      height:50px;
    }
    #titulo-footer{
      margin-left: 22em;
    }
    #footer-responsive{
      margin-top: 5em;
    }
}
@media only screen and (max-width : 1366px), screen and (max-height: 768px) {
  body{
        padding-top: 1em;
    }
    #login{
      margin-right: 9em;
    }
    #myimage{
      margin-left: -3em;
      width:50px; 
      height:50px;
    }
    #titulo-footer{
      margin-top: 5em;
    }
    #footer-responsive{
      margin-top: 6em;
    }
    #myslide{
      margin-top: 7em;
    }
    .imagen-logo{
      width:75px; 
      height:75px;
      margin-left: -2em;
    }
    .block_content{
      margin-top: 8em;
    }
}
@media only screen and (max-width : 1024px), screen and (max-height: 768px) {
  #login{
    margin-right: 3em;
  }
  #myimage{
    margin-left: -13em;
    width:50px; 
    height:50px;
  }
  #menu{
    margin-right: 4em;
  }
  #top-nav{
    margin-left: -11em;
  }
  #myslide{
    margin-top: 7em;
  }
  #titulo-footer{
    margin-top: 4em;
  }
  #footer-responsive{
    margin-top: 2em;
  }
}
@media only screen and (max-width : 1280px), screen and (max-height: 800px) {
  #login{
    margin-right: 3em;
  }
  #myimage{
    margin-left: -13em;
    width:50px; 
    height:50px;
  }
  #menu{
    margin-right: 4em;
  }
  #top-nav{
    margin-left: -11em;
  }
  #myslide{
    margin-top: 7em;
  }
  #titulo-footer{
    margin-top: 4em;
    margin-right: 4em;
    margin-left: 27em;
  }
  #footer-responsive{
    margin-top: 2em;
  }
}