#file{
    display: none;
}

.form-control{
    width: 27%;
}

#btn-send{
    margin-left: 40%;
    margin-right: auto;
}

.texto{
    position:absolute;
    margin-top: 1em;
}

#delete_2{
	margin-left: 1em;
}

#range_year, #range_tri{
	margin-left: 2em;	
}
#search{
    width: 100%;
}

#my_select{
    width: 100%;
}

.center_button{
    margin-left: 6em;
}