#main-panel {
  margin: 30px 10px 30px 10px;
  border-color: #bebebe;
  border-style: solid;
  border-width: 1px;
}
#main-panel .panel-heading .opcion-menu {
  margin-left: 17px;
  margin-right: 16px;
}
#main-panel .panel-body {
  padding-top: 50px;
}
#main-panel .panel-body p {
  margin-top: 30px;
  margin-right: 20%;
  margin-bottom: 30px;
  margin-left: 20%;
}
#main-panel .panel-body img {
  margin-bottom: 30px;
}
#main-panel .panel-body .panel-group {
  margin-bottom: 0px;
}
#main-panel .panel-body .panel-group .panel {
  margin-bottom: 10px;
}
#main-panel .panel-body .panel-group .panel .panel-body {
  padding: 30px 0 30px 0;
}
#main-panel .panel-body .panel-group .panel .panel-body form label span:nth-child(4) {
  margin-right: 10px;
}
#main-panel .panel-body .panel-group .panel .panel-body form label span:nth-last-child(3) {
  margin-left: 44px;
  margin-right: 10px;
}
#main-panel .panel-body #meaning-parameters {
  margin-top: 30px;
}
#main-panel .panel-body #meaning-parameters .panel-body {
  padding-left: 20px;
  padding-right: 20px;
}
#main-panel .panel-body .btn-next,
#main-panel .panel-body .btn-calc {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #428bca;
  border-color: #357ebd;
  color: #fff;
}
#main-panel .panel-body .btn-next:hover,
#main-panel .panel-body .btn-calc:hover {
  background-color: #426bca;
}
#main-panel .panel-body .btn-back {
  background-color: #ebebeb;
  border-color: #adadad;
  color: #333;
}
#main-panel .panel-footer {
  height: 40px;
}
#main-panel .panel-footer .pull-left a {
  color: #0cb3ac;
}

#scroll b {
  float: left;
}

.form-css label {
  display: block;
  margin: 0px 0px 5px;
}
.form-css label > span {
  float: left;
  margin-top: 10px;
}
.fa-warning {
  color: #f0ad4e;
}
.fa-info-circle {
  margin-top: 10px;
}
