#pushobj {
  position: absolute;
  margin-right: 100px;
  padding: 50px 0 50px 0;
  top: 275px;
  left: 520px;
  width: 1140px;
  height: 600px;
  color: #000;
  background: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
}
