@import url(http://fonts.googleapis.com/css?family=Dosis:600,700,800);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900);
@import "less/bootstrap.less";

body{



	header{

		.navbar{
			margin-bottom: 0px;
			border-radius: 0px;
			border-bottom-style: solid;
			border-bottom-width: 5px;
			border-bottom-color: #02bdd9;
			font-family: "Dosis";
			font-size: 20px;

			&#nav-menu{
				height: 6em;
			}

			.navbar-brand{
				font-size: 27px;
				line-height: 27px;
			}

			.navbar-nav{

				&#tabs-menu{

					margin: 65px 0px 0px 0px;

					li > a{
						border-top-left-radius: 15px;
						border-top-right-radius: 15px;
					}

				}

				&#user_data-menu{

					margin: 82px 0px 0px 0px;

					#name-user{
						font-family: "Lato";
						font-size: 13px;

						span,
						.caret{
							color: #003A6F;
						}

		        	}

		        	#option-user{

		        	}

				}

			}

		}

	}

}