{% extends "resources.html" %}

{% load apptags %}

{% block arrow_bulletin %}<i class="fa fa-chevron-right pull-right"></i>{% endblock %}
{% block arrow_link %}<i class="fa fa-chevron-left pull-right"></i>{% endblock %}

{% block resource %}
    {% if user.is_authenticated %}
        <b id="title-content-page">Enlaces externos</b>
        <hr class="pull-left" id="separator-content-page">
        {% for cat in categories %}
        <div class="external-link">
            <b>{{cat.name}}</b>
            <ul>
                {% for link in links|in_category:cat  %}
                <li><a target="_blank" href="{{link.url}}">{{link.title}} <i class="fa fa-external-link"></i></a></li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    {%else%}
        <p class="text-center">Para visualizar o descargar los boletines, por favor <a href="/login">Inicie Sesión</a> o
        <a href="/register">Regístrese</a></p>
    {%endif%}
{% endblock %}