{% extends "resources.html" %}

{% load apptags %}

{% block arrow_bulletin %}<i class="fa fa-chevron-right pull-right"></i>{% endblock %}
{% block arrow_link %}<i class="fa fa-chevron-left pull-right"></i>{% endblock %}

{% block resource %}
    
    <b id="title-content-page">Boletines</b>
    <hr class="pull-left" id="separator-content-page">
    <div class="external-link">
        <ul>
            {% for bulletin in bulletins %}
                <li><a target="_blank" href="/boletin/{{bulletin.id}}/">Boletín Edición no. {{bulletin.id}} <i class="fa fa-external-link"></i></a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
