{% extends "index.html" %}

{% load static from staticfiles %}

{% block title %}Grupo de Trabajo{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block content %}
        <div class="content-page-2" >
            <b id="title-content-page">Equipo de Trabajo</b>
            <hr id="separator-content-page" class="pull-left">
            <br>
            {% if profile %}
                {% for i in profile%}
            <div class="text-profile">
                <i class="fa fa-user"></i><strong> {{i.grado_academico}} {{i.nombre}} {{i.apellido}}</strong><br>
                <i>{{i.cargo}}</i><br>
                <i><i class="fa fa-envelope-o"></i> {{i.correo}}</i><br><br>
                    {{i.resumen}}
                <hr><br>
            </div><!-- .text-profile -->
                {%  endfor %}
            {% else %}
            <p>No hay datos a mostrar</p>
            {%  endif %}
            <div id="datos"></div><!-- #datos -->
        </div><!-- .content-page-2 -->
{% endblock %}
