{% extends "index.html" %}

{% load static from staticfiles %}

{% block title %}Grupo de Trabajo{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block content %}
	<div class="container block_content" >
	    <h1 class="titulo">Equipo de Trabajo</h1>
	    <hr class="myhr">
	    <h1 class="titulo-secundario">Curriculum Vitae</h1>
	    <div id="menu-izquierdo">
	    	<ul>
	    		<li>
	    			<a href="#" value="1">Economista Gabriel Villa Cox</a>
	    		</li>
	    		<li>
	    			<a href="#" value="2">Economista Ramón Villa Cox</a>
    			</li>
	    		<li>
	    			<a href="#" value="3">Economista Rossana Valencia Marín</a>
		    	</li>
		    	<li>
		    		<a href="#" value="4">Economista María Fernanda Loor Martínez</a>
		    	</li>
	    	</ul>
	    </div>

	    <div id="datos"></div>
	</div>
{% endblock %}
