{% extends "index.html" %}

{% load static from staticfiles %}

{% block title %}Grupo de Trabajo{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block content %}
	<div class="container block_content" >
	    <h1 class="titulo">Equipo de Trabajo</h1>
	    <hr class="myhr">
	    <h1 class="titulo-secundario">Curriculum Vitae</h1>
	    <br>
	    {% if profile %}
	    	{% for i in profile%}
	    		<div class="text-profile">
	    			<p><strong>{{i.grado_academico}} {{i.nombre}} {{i.apellido}}</strong></p>
		    		<p><strong>{{i.correo}}</strong></p>
		    		<p>{{i.resumen}}</p>
		    		<br>
	    		</div>
	    	{%  endfor %}
	    {% else %}
	    	<p>No hay datos a mostrar</p>
	    {%  endif %}
	    <div id="datos"></div>
	</div>
{% endblock %}
