{% extends "index.html" %}

{% load static from staticfiles %}

{% block title %}Credenciales Invalidas{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block content %}
	    	<div class="content-page-2" >
	        	<b id="title-content-page">Usuario no autorizado</b>
	       	<hr id="separator-content-page" class="pull-left">
	        	<div id="mensaje-alerta" class="text-center">
	            		<p><b> ¡ USTED TIENE BLOQUEADO SUS CREDENCIALES, POR FAVOR COMUNICARSE CON EL ADMINISTRADOR PARA SOLUCIONAR EL INCONVENIENTE O REVISE SU CORREO PARA ACTIVAR SU CUENTA! </b></p>
	            		<p><a href="/inicio/">Ir al Inicio</a> </p>
	        	</div><!-- #mensaje-alerta.text-center -->
	    	</div><!-- .content-page-2 -->
{% endblock %}
