{% extends "index.html" %}

{% load static from staticfiles %}

{% block title %}Cambio de contraseña{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block content %}
        <div class="content-page-2" id="home-page">
            <br /><br />
            <b id="title-content-page">Cambio de contraseña</b>
            <hr id="separator-content-page" class="pull-left">
            <br /><br /><br /><br /><br/><br/>
            <form id="form_reset" method="post">
                <div id="reset_pass">
                {% csrf_token %}
                {{ user_form_reset.as_p }}
                </div><!-- #reset_pass -->
                <div class="text-center">
                    <input id="btn_send" class="btn btn-primary btn_login" type="button" name="submit" value="Enviar" style="width:130px; margin-bottom:30px"/>
                </div><!-- .text-center -->
                <br/><br/>
                <div id="mensajes" class="text-center">
                    <div class="col-lg-4"></div><!-- .col-lg-4 -->
                    <div class="col-lg-4">
                        <span id="error_user" hidden><b>*Usuario no encontrado, por favor escriba bien su usuario.</b></span>
                        <span id="error_pass" hidden><b>*Contraseñas no coinciden.</b></span>
                        <span id="error_pass_len" hidden><b>*Su contraseña debe contener al menos 5 caracteres</b></span>
                    </div><!-- .col-lg-4 -->
                    <div class="col-lg-4"></div><!-- .col-lg-4 -->
                </div><!-- #mensajes.text-center -->
            </form>
            <form id="form_success" class="text-center" hidden>
                <div class="col-lg-4"></div><!-- .col-lg-4 -->
                <div class="col-lg-4">
                    <span><b>Cambio de contraseña Exitoso.</b></span>
                    <p>Si desea iniciar sesión, dar clic <a href="/iniciar-sesion/">aquí</a></p>
                </div><!-- .col-lg-4 -->
                <div class="col-lg-4"></div><!-- .col-lg-4 -->
            </form>
            <br/><br/><br/><br/>
        </div><!-- .content-page-2 -->
{% endblock %}

{% block extraScripts %}
    <script src="{% static "js/register.js" %}" type="text/javascript"></script>
{% endblock %}