{% extends "index.html" %}

{% load static from staticfiles %}

{% block title %}Cambio de contraseña{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block content %}
    <div class="content-page-2" >
        <b id="title-content-page">Cambio de contraseña</b>
        <hr class="pull-left" id="separator-content-page">
        <br /><br /><br /><br /><br/><br/>
        {% if expiro %}
            <p>Lo lamentamos, su tiempo para cambiar su contraseña expiro, por favor</p>
            <br/><br/>
            <p>solicitar cambio de contraseña de nuevo</p>
        {% else %}
            <form method="post" id="form_reset">
                <div id="reset_pass">
                    {% csrf_token %}
                    {{ user_form_reset.as_p }}
                </div>
                <div class="text-center">
                    <input type="button" class="btn btn-primary btn_login" name="submit" value="Enviar" style="width:130px; margin-bottom:30px" id="btn_send"/>
                </div>
                <br/><br/>
                <div id="mensajes" class="text-center">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <span id="error_user" hidden><b>*Usuario no encontrado, por favor escriba bien su usuario.</b></span>
                        <span id="error_pass" hidden><b>*Contraseñas no coinciden.</b></span>
                        <span id="error_pass_len" hidden><b>*Su contraseña debe contener al menos 5 caracteres</b></span>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </form>
            <form class="text-center" id="form_success" hidden>
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <span><b>Cambio de contraseña Exitoso.</b></span>
                    <p>Si desea iniciar sesión, dar clic <a href="/iniciar-sesion/">aquí</a></p>
                </div>
                <div class="col-lg-4"></div>
            </form>
            <br/><br/><br/><br/>
        {% endif %}
    </div>
{% endblock %}

{% block extraScripts %}
<script type="text/javascript">
    $('#btn_send').click(function(){
        var correo = $('#id_email').val();
        var pass_1 = $('#id_password_one').val();
        var pass_2 = $('#id_password_two').val();

        $.getJSON('/formulario/', {'correo':correo, 'pass_1':pass_1, 'pass_2':pass_2}, function(data){
            if (data == 1){
                console.log('Claves iguales');
                $('#form_reset').hide();
                $('#form_success').show();
                $('#error_pass').hide();
                $('#error_user').hide();
                $('#error_pass_len').hide();
            }else if(data == 2){
                $('#error_pass').show();
                $('#error_user').hide();
                $('#form_success').hide();
                $('#error_pass_len').hide();
            }else if (data == 3){
                $('#error_user').show();
                $('#error_pass').hide();
                $('#form_success').hide();
                $('#error_pass_len').hide();
            }else{
                $('#error_pass_len').show();
                $('#error_pass').hide();
                $('#error_user').hide();
                $('#form_success').hide();
            }
        });
    });
</script>
{% endblock %}