{% extends "index.html" %}

{% load static from staticfiles %}

{% block title %}Credenciales Invalidas{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block content %}
        <div class="content-page-2" id="home-page">
            <br /><br />
            <b id="title-content-page">Credenciales inválidas</b>
            <hr id="separator-content-page" class="pull-left">
            <div id="mensaje-alerta" class="text-center">
                <p><b> ¡ EL USUARIO O CONTRASEÑA INGRESADA SON INVÁLIDAS ! </b></p>
                <p><a href="/iniciar-sesion/">Volver a Iniciar Sesión</a> </p>
            </div><!-- #mensaje-alerta.text-center -->
        </div><!-- .content-page-2 -->
{% endblock %}