{% extends "index.html" %}

{% load static from staticfiles %}

{% block title %}Registro{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block content %}
    <div class="content-page-2" >
         <b id="title-content-page">Formulario de registro</b>
         <hr class="pull-left" id="separator-content-page">
        {% if registered %}
            <p>Gracias por registrarte en el Observartorio Social Económico del Ecuador</p>
            <p>Con tu registro puedes acceder a bla bla...</p>
            <a href="/">Ir a Home</a><br />
        {% else %}
            <form id="user_form" method="post" action="/register" >
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <div class="text-center">
                    <input type="submit" class="btn btn-primary btn_login" name="submit" value="Enviar" style="width:130px; margin-bottom:30px" />
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}