{% extends "index.html" %}

{% load static from staticfiles %}

{% block title %}Cambio de contraseña expirado{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block content %}
    		<div class="content-page-2" >
        		<b id="title-content-page">Cambio de contraseña expirado</b>
        		<hr id="separator-content-page" class="pull-left">
        		<div id="mensaje-alerta" class="text-center">
            		<p><b> Su tiempo de cambio de contraseña ha expirado, por favor solicitar de nuevo cambio de contraseña. </b></p>
        		</div><!-- #mensaje-alerta.text-center -->
    		</div><!-- .content-page-2 -->
{% endblock %}