{% extends "index.html" %}

{% load static from staticfiles %}

{% block title %}Registro{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block content %}
    <div class="container block_content" >
        <div>
            <h1 class="titulo-secundario">Formulario para registro</h1>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input name="" type="submit" class="btn btn-primary btn_login" value="Crear Cuenta" style="width:130px; margin-left:30em;"/>
            </form>
        </div>
    </div>
{% endblock %}