{% extends "base.html" %}

{% load apptags %}

{% load static from staticfiles %}

{% block title %}Comercio Exterior{% endblock %}

{% block extraCSS %}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet" >
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.3.0/bootstrap-table.min.css" rel="stylesheet"  />
    <link href="{% static "css/bootstrap-select.min.css" %}" rel="stylesheet"/>
    <link href="{% static "css/perfect-scrollbar.css" %}" rel="stylesheet"/>
    <link href="{% static "css/jquery.bootstrap-touchspin.css" %}" rel="stylesheet"/>
    <link href="{% static "css/bootstrap-datepicker.min.css" %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
        <div class="content-page-2">
            <b id="title-content-page">Comercio Exterior</b>
            <hr id="separator-content-page" class="pull-left">
            <div id="main-panel" class="panel panel-default">
                <div class="tabbable">
                    <ul id="myTabs_1" class="nav nav-tabs">
                        <li class="active" ><a id="tab_exp" href="#pane_1" data-toggle="tab">EXPORTACIONES</a></li>
                        <li><a id="tab_imp" href="#pane_1" data-toggle="tab">IMPORTACIONES</a></li>
                    </ul>     
                    <div class="tab-content">
                        <div id="pane_1" class="tab-pane active">
                            <div class="tabbable">
                                <ul id="myTabs_2" class="nav nav-tabs">
                                    <li class="active" ><a id="tab_codsub" href="#pane_2" data-toggle="tab">POR CÓDIGO/SUBPARTIDA</a></li>
                                    <li ><a id="tab_pais" href="#pane_2" data-toggle="tab">POR PAÍS</a></li>
                                </ul>
                                <div id="accordion" class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a id="a-parametros" data-toggle="collapse" data-parent="#accordion" href="#parametros">
                                                    Parámetros iniciales
                                                </a>
                                            </h4>
                                        </div><!-- .panel-heading -->
                                        <div id="parametros" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="col-lg-4"></div><!-- .col-lg-4 -->
                                                <div class="col-lg-4">
                                                    {% include "parametros.html" %}
                                                </div><!-- .col-lg-4 -->
                                                <div id="aviso_comercio" class="col-lg-4">
                                                    <i class="fa fa-exclamation-triangle "></i> AVISO IMPORTANTE 
                                                    <span>
                                                        <br> Aseguramos la correcta descarga
                                                        <br> de archivos de Excel utilizando el
                                                        <br> navegador de Mozilla Fifefox
                                                    </span>
                                                </div><!-- #aviso_comercio.col-lg-4 -->
                                            </div><!-- .panel-body -->
                                        </div><!-- .panel-heading -->
                                    </div><!-- .panel.panel-default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a id="a-resultados" data-toggle="collapse" data-parent="#accordion" href="#resultados">
                                                    Resultados
                                                </a>
                                            </h4>
                                        </div><!-- .panel-heading -->
                                        <div id="resultados" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-4"></div><!-- .col-lg-4 -->
                                                    <div  id="aviso_comercio" class="col-lg-4">
                                                        <i class="fa fa-exclamation-triangle "></i> AVISO IMPORTANTE 
                                                        <span>
                                                            <br> Aseguramos la correcta descarga
                                                            <br> de archivos de Excel utilizando el
                                                            <br> navegador de Mozilla Fifefox
                                                        </span>
                                                        <div id="loading" hidden>
                                                            <br>
                                                            <p>
                                                                <b>Cargando datos, espere por favor ...</b><br>
                                                                <b><i class="fa fa-spinner fa-spin fa-5x"></i></b>
                                                            </p>
                                                        </div><!-- #loading.text-center -->
                                                    </div><!-- #aviso_comercio.col-lg-4 -->
                                                    <div class="col-lg-4">
                                                    </div><!-- .col-lg-4 -->
                                                </div>
                                                <div id="tables" hidden>
                                                    <div id="nomenclatura" class="row">
                                                        <div class="col-lg-1"></div><!-- .col-lg-1 -->
                                                        <div class="col-lg-10">
                                                            <b>DETALLE DE NOMENCLATURA</b>
                                                            <table id="table_A" data-height ="400" data-show-columns="true" data-search="true" data-show-toggle="true">
                                                                <thead>
                                                                    <tr>
                                                                        <th id="code_A" data-field="codigo" data-align="center" data-sortable="true">Subpartida</th>
                                                                        <th id="desc_A" data-field="descripcion" data-align="center" data-sortable="true">Descripción</th>
                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                            <span id="pie_de_tabla_nom"></span>
                                                            <a id="btnExportNomen" class="pull-right">Exportar tabla a Excel <img src="{{STATIC_URL}}img/Excel-icon.png" alt="excel"></a>
                                                        </div><!-- .col-lg-10 -->
                                                        <div class="col-lg-1"></div><!-- .col-g-1 -->
                                                    </div><!-- #nomenclatura.row -->
                                                    <div id="export-import" class="row">
                                                        <div class="col-lg-1"></div><!-- .col-lg-1 -->
                                                        <div class="col-lg-10">
                                                            <b id="tipoTrans">DATOS DE EXPORTACIONES</b>
                                                            <table id="table_B" data-height ="400" data-show-columns="true" data-search="true" data-show-toggle="true">
                                                                <thead>
                                                                    <tr>
                                                                        <th id="code_B" data-field="codigo" data-align="center" data-sortable="true">Subpartida</th>
                                                                        <th id="desc_B" data-field="descripcion" data-align="center" data-sortable="true">Descripción</th>
                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                            <span id="pie_de_tabla_ex_im"></span>
                                                            <a id="btnExportTrans" class="pull-right">Exportar tabla a Excel <img src="{{STATIC_URL}}img/Excel-icon.png" alt="excel"></a>
                                                        </div><!-- .col-lg-10 -->
                                                        <div class="col-lg-1"></div><!-- .col-lg-1 -->
                                                    </div><!-- #export-import.row -->
                                                    <div id="graph" class="row" hidden>
                                                        <div class="col-lg-1"></div><!-- .col-lg-1 -->
                                                        <div class="col-lg-10">
                                                            <b>GRÁFICOS ESTADÍSTICOS</b>
                                                            <ul id="ul_graph_comercio" class="nav nav-tabs" role="tablist"></ul>
                                                            <div id="div_graph_comercio" class="tab-content text-center"></div><!-- #div_graph_comercio.tab-content.text-center -->
                                                        <div class="col-lg-1"></div><!-- .col-lg-1 -->
                                                        </div><!-- .col-lg-10 -->
                                                    </div><!-- #graph -->
                                                </div><!-- #tables -->
                                            </div><!-- .panel-body.text-center -->
                                        </div><!-- #resultados.panel-collapse.collapse -->
                                    </div><!-- .panel.panel-default -->
                                </div><!-- #accordion.panel-group -->
                            </div><!-- .tabbable -->
                        </div><!-- #pane_1.tab-pane.active -->
                    </div><!-- .tab-content -->
                </div><!-- .tabbable -->
            </div><!-- #mainl-panel.panel.panel-default -->
        </div><!-- .content-page-2 -->
{% endblock %}

{% block extraScripts %}
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="{% static "js/bootstrap-select.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/comercio.js" %}" ></script>
    <script type="text/javascript" src="{% static "js/bootstrap-table.js" %}" ></script>
    <script type="text/javascript" src="{% static "js/jquery.bootstrap-touchspin.js" %}"></script>  
    <script type="text/javascript" src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.battatech.excelexport.js" %}"></script>
    <script type="text/javascript" src="{% static "js/perfect-scrollbar.js" %}"></script>
    <script type="text/javascript">
        $('.selectpicker').selectpicker();
        $('#graph').perfectScrollbar();
        $('#div_graph_comercio').perfectScrollbar();
        $("#txt_agregacion").TouchSpin({
            verticalbuttons: true,
            min: 1,
            max: 10,
            stepinterval: 1,
        });
    </script>
{% endblock %}