{% load static from staticfiles %}
												<div id="aviso_comercio"><i class="fa fa-exclamation-triangle "></i> AVISO IMPORTANTE 
													<span>
														<br> Aseguramos la correcta descarga
														<br> de archivos de Excel utilizando el
														<br> navegador de Mozilla Fifefox
													</span>
												</div>

												<div class="tab-content" id="datos">
													<div class="tab-pane active" id="pane_2">
														<label id="search">
															<span id="search_by_label">Criterio de búsqueda</span>
															<select id="search_by" data-width="100%" class="selectpicker">
																<option value="1">Código/Subpartida</option>
																<option value="2">Descripción</option>
															</select>
														</label>

														<label>
															<span>Estándar de codificación</span>
															<select id="standars" data-width="100%" class="selectpicker">
																<option value="1">NANDINA</option>
																<option value="2">CGCE</option>
																<option value="3">CIIU3</option>
																<option value="4">CPC</option>
																<option value="5">CUODE</option>
															</select>
														</label>

														<label>
															<span>Periodicidad</span>
															<select id="period" data-width="100%" class="selectpicker">
																<option value="1">Mensual</option>
																<option value="2">Trimestral</option>
																<option value="3">Semestral</option>
																<option value="4">Anual</option>
															</select>
														</label>

														<label>
															<span>Desde</span>
															<div class="input-group margin-bottom-sm date datepickerStart">
																<input id="startDate" class="form-control" type="text" value="1990/01" >
																<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
															</div>
														</label>

														<label>
															<span>Hasta</span>
															<div class="input-group margin-bottom-sm date datepickerEnd">
																<input id="endDate" class="form-control" type="text">
																<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
															</div>
														</label>

														<label>
															<span> Nivel de agregación</span>
															<input id="txt_agregacion" type="text" value="10" name="agregacion">
															<br/>
															<span class="hidden">*Valores solo del 0 al 100</span>
														</label>

														<label>
															<span id="filtrar_por">Filtrar por código</span>
															<input type="text" id="txt_filtro_num" class="form-control">
															<input type="hidden" id="txt_filtro_text" class="form-control">
														</label>

														<br>

														<label id="pais">
															<div>
																<input name="checkbox" id="checkbox" type='checkbox'>  Separar por país
															</div>
														</label>
														<br>

														<label>
															<input type="button" class="btn btn-primary" value="BUSCAR" id="btn_search">
														</label>
													</div>
												</div>

			