{% extends "base.html" %}

{% load apptags %}

{% load static from staticfiles %}

{% block title %}Upload file csv{% endblock %}

{% block extraCSS %}
    <link href="{% static "css/uploadcsv.css" %}" rel="stylesheet"  />
{% endblock %}

{% block content %}
    <div class="content-page-2">
        <b id="title-content-page">Actualización exitosa!</b>
        <hr class="pull-left" id="separator-content-page">
        <div class="panel-body">
            <div class="center">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <br/><br/><br/>

                    <br/><br/><br/>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extraScripts %}

{% endblock %}